# App
NEXT_PUBLIC_APP_URL=

# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Prisma
# DATABASE_URL = directUrl -> session pooler, port 5432 (KHONG dung 6543)
DATABASE_URL=
# DATABASE_POOLED_URL = runtime queries -> transaction pooler, port 6543
DATABASE_POOLED_URL=
